#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh;
}

#tp1-second-part{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

#tp1-synth{
    color: var(--text-sec);
    font-family: alte, sans-serif;
    font-size: 1.3rem;
    width: 40%;
    text-align: justify;
}

#tp1-synth a{
    color: var(--btn);
}

#tp1-radar{
    width: 40%;
}

.radar-btn{
    color: var(--text);
    background-color: var(--container);
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    font-size: 0.8rem;
    border: none;
    padding: 0.5rem 1rem;
}

.radar-btn-current{
    background-color: var(--container-sec);
}

.radar-btn:hover{
    cursor: pointer;
}

.radar-btn:not(.radar-btn-current):hover{
    background-color: #1a1464;
}

#tp1-radar-images img{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 100%;
    box-shadow: 10px 10px var(--shadow);
}

#tp2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tp2-title{
    width: 75%;
}

#tp2-exercices{
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

#tp2-exemple{
    display: flex;
    flex-direction: column;
}

#tp2-exemple img{
    margin: 3vh 1vw;
}

#tp2-exemple-site{
    display: flex;
    gap: 0.2vw;
    width: 100%;
    justify-content: flex-end;
}

#tp2-memo{
    display: flex;
    width: 60%;
}

#tp2-memo img{
    object-fit: cover;
    width: 100%;
}

#tp3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
}

#tp3-familles{
    font-family: alte;
    font-size: 1.3rem;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--text-sec);
    margin-bottom: 5vh;
}

#tp3-critères{
    margin-bottom: 5vh;
}

#tp3-critères-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#tp3-améliorations{
    font-family: alte;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    width: 65%;
    color: var(--text-sec);
}

#tp3-améliorations h3{
    text-decoration: underline;
    margin: 3vh;
}