#head{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#head-me{
    color: var(--text-sec);
    font-family: caviar-b, sans-serif;
    font-size: 1.5rem;
}